body {
  cursor: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

* {
  cursor: none !important;
}

::selection {
  background-color: #915eff;
  color: white;
}

::-moz-selection {
  background-color: #915eff;
  color: white;
}

img {
  user-select: none;
}

body.loaded {
  cursor: none;
}

.spaceship {
  position: absolute;
  width: 20px;
  height: 20px;
  transition: transform 0.1s;
  pointer-events: none;
  display: none; /* Masque le vaisseau au début */
  top: 50%; /* Positionne le vaisseau au centre verticalement */
  left: 50%; /* Positionne le vaisseau au centre horizontalement */
  transform: translate(
    -50%,
    -50%
  ); /* Centre le vaisseau par rapport à son propre centre */
}

body.loaded .spaceship {
  display: block; /* Affiche le vaisseau après le chargement */
}

.smoke {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  animation: fadeOut 1s ease-out forwards;
  pointer-events: none;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: scale(2);
  }
}
